{% macro displayTopNews(news_list) %}

    {% for news_item in news_list %}
        <div class="card" style= "margin-bottom: 2em; padding: 2vh 0 2vh 4vh; width: 80vw;">
            <img src="{{ news_item.image_url }}" class=" text-center card-img-top" style="height: 150px;">
            <div class="card-body">
                <h3 class="card-title">{{ news_item.title }}</h3>
                <p class="card-text">{{ news_item.description }}</p>
                <p class="monospace">Published at {{ news_item.publishedAt }}</p>
                <a href="{{ news_item.opening_url }}" target="_blank" class="btn btn-primary" style="margin: 0 auto;">View whole Story</a>
            </div>
        </div>
        <hr>
    {% endfor %}

{% endmacro %}